.userbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 15px;
    padding: 10px 15px;
    background: #EEEEEE;
    border-radius: 20px
}
.userbar.dark{
    background: #242424;
    color: white
}
.userinfo{
    margin-left: 15px;
}
.username{
    font-weight: 400;
    font-size: 22px
}
.group{
    font-weight: 300;
    font-size: 12px
}
.card-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 15px;
}

.card-block.dark .btn{
    background: #19191A;
    box-shadow: 7px 7px 15px #0F0F10, -7px -7px 15px #262627;
    color: white
}


.card-block.dark .btn.admin{
    background-color:#2d2d2e
}

.card-block.dark .btn.link{
    text-decoration: none;
    background-color: #2d2d2e;
}
