.walkblock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    min-height: 30px;
    margin-bottom: 10px;
}
.time{
    font-size: 10px;
}
.walkblock div{
    font-size: 14px
}
.strelki span{
    font-size: 20px;
    color: #454647
  }
.walkblock div:nth-child(1){
    flex: 3 1 100%;
    text-align: center;
}
.walkblock div:nth-child(2){
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.walkblock div:nth-child(3){
    flex: 3 1 100%;
    text-align: center;
}

  body{
    background: #232324
  }
  @keyframes light{
    0%{
      color: #454647
    }
    33%{
      color: #F2F3F5;
      text-shadow: 0 0 20px #F2F3F5
    }
    100%{
      color: #454647
    }
  }
  .strelki span:nth-child(1){
    animation: light 2s infinite;
  }
  .strelki span:nth-child(2){
    animation: light 2s infinite;
    animation-delay: 0.67s
  }
  .strelki span:nth-child(3){
    animation: light 2s infinite;
    animation-delay: 1.34s
  }
  