.accordeon_wrap{
    margin: 40px 10px;
}

.accordeon_title{
    background-color: white;
    color: black;
    line-height: 52px;
    font-size: 22px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 12px 12px 20px #DFDFF4, -12px -12px 20px #FFFFFF;
    /* transition: all .3s ease-out; */
}
.accordeon_wrap.dark .accordeon_title{
    background: #19191A;
    box-shadow: 12px 12px 20px rgba(15, 15, 16, 0.66), -12px -12px 20px #262627;
    color: white
}
.accordeon_wrap .accordeon_content{
    transition: all 1s ease-in-out;
    overflow: hidden;
    display: none;
}
.accordeon_wrap.active .accordeon_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.accordeon_wrap.active .accordeon_title{
    background: #F9F9F9;
    box-shadow: inset -10px -10px 15px #FFFFFF, inset 10px 10px 15px #BABAD8;
    /* transition: all .3s ease-in; */
}
.accordeon_wrap.active.dark .accordeon_title{
    background: #19191A;
    box-shadow: inset -10px -10px 15px rgba(33, 33, 35, 0.8), inset 10px 10px 15px rgba(18, 18, 19, 0.8);
}