.card-item{
    background: #F9F9F9;
    box-shadow: 12px 12px 20px #CECEEC, -12px -12px 20px #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: black;
    font-size: 16px;
    padding: 20px 10px;
}
.card-item div{
    text-align: center;
}
.card-item.link{
    text-decoration: none;
    background-color: #b0ffe7;
}