.customgallery{
    background-color: red;
    padding: 20px;
    position: relative;
}
.gallery-name{
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}
.gallery-desc{
    font-size: 18px;
    color: gray
}
.gallery-row{
    font-size: 16px;
    text-transform: uppercase;
}
.gallery-res{
    position: absolute;
    font-size: 60px;
    bottom: 60px;
    right: 80px
}