@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700');

.customcard{
    padding: 15px;
    background-color: #e7e8ec;
    max-width: 100px;
    font-family: 'Bellota Text';
}
.card-type{
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 700;
}
.card-name{
    font-size: 18px;
    font-weight: 700;
}
.card-description{
    font-size: 14px;
}
.card-total{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items:flex-end
}
.card-total span:nth-child(2){
    font-size: 30px;
    line-height: 30px;
}
.fine{
    background-color: #3dcc4b;
}
.good{
    background-color: #63b9ba;
}
.bad{
    background-color: #ffa000;
}
.fail{
    background-color: #ff3347;
}