@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700');

.card-divider{
    padding: 0 20px; 
    margin: 5px 0 0 0;
    font-size: 16px; 
    font-weight: 700; 
    text-transform: uppercase;
    font-family: Bellota Text;
    width: 100%;
    /* background-color: #a0a0a0; */
}
.card-block{
    background-color: #f9f9f9;
    padding: 5px;
    margin: 10px 0
}
.card-block.dark{
    background-color: #363738;
}
.customcard{
    padding: 15px;
    background-color: #e7e8ec;
    width: 120px;
    height: 200px;
    font-family: 'Bellota Text';
    position: relative;
}
.card-type{
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 700;
}
.card-name{
    font-size: 16px;
    font-weight: 700;
}
.card-description{
    font-size: 14px;
}
.card-total{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.card-total-mark{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.fine{
    background-color: #3dcc4b;
}
.good{
    background-color: #63b9ba;
}
.bad{
    background-color: #ffa000;
}
.fail{
    background-color: #ff3347;
}
.empty{
    background-color: #aaa;
}