
@font-face {
    font-family: 'Exo2';
    src: url(../src/fonts/Exo2-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: 'Exo2';
    src: url(../src/fonts/Exo2.ttf);
    font-style: normal
}

.vkuiTabbar--l-vertical .vkuiTabbarItem.vkuiTabbarItem--text {
    position: relative;
    top: 0;
}

:root{
    --exam:#DB504A;
    --kurs:#d6ab00;
    --za4:#24b7ca ;
    --diff: #537eb6;
    --empty: #D8E2DC;
    --fine: #3EFF8B;
    --good: #31D843;
    --bad: #EC9F05;
    --fail: #BF3100;
    --za4et: #9f9ed6;

    --exam_dark: #DB504A;
    --kurs_dark: #d6ab00;
    --za4_dark: #56A3A6;
    --diff_dark: #084C61;
    --empty_dark: #4F6D7A;
    --fine_dark: #00A6FB;
    --good_dark: #0582CA;
    --bad_dark: #006494;
    --fail_dark: #003554;
    --empty_dark: #0d4662;
}
.vkui__root{
    --font-common: 'Exo2', -apple-system, system-ui, Helvetica Neue, Roboto, sans-seri
}
body[scheme="space_gray"] {
    --background_content: rgb(50, 60, 70);
    --main_color: rgb(50, 60, 70);
    --secondary_color: rgb(66, 78, 90);
}